.content {
  width: 980px;
  margin: 75px auto;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .content {
    width: 90%;
  }
}

.content table {
  width: 100%;
}

.table-of-letters__nav {
  margin-bottom: 50px;
}

.table-of-letters__nav a:first-child {
  margin-right: 10px;
}
