.flashcard {
  width: 980px;
  margin: 75px auto;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .flashcard {
    width: 90%;
  }
}

.flashcard .value {
  font-size: 200px;
  overflow-x: scroll;
  margin-top: 50px;
}

.flashcard .answer {
  font-size: 24px;
  width: 200px;
  margin: auto;
}

.flashcard .answer.hidden .pronunciation {
  background-color: black;
  color: black;
  cursor: pointer;
}
.flashcard .answer.hidden .example {
  background-color: black;
  color: black;
  cursor: pointer;
}
.flashcard .answer .instructions {
  font-size: 24px;
}
