.flashcard {
}

.flashcard .nav {
  margin-bottom: 50px;
}

.flashcard .nav a:first-child {
  margin-right: 10px;
}

.flashcard .value {
  font-size: 200px;
  overflow-x: scroll;
  margin-top: 50px;
}
.flashcard .hidden {
  width: 200px;
  height: 100px;
  font-size: 24px;
  margin: 20px auto;

  background-color: black;
  cursor: pointer;
  line-height: 100px;
}
.flashcard .answer {
  width: 200px;
  height: 100px;
  font-size: 24px;
  margin: 20px auto;
}
.flashcard .answer .example em {
  font-style: normal;
  font-weight: 700;
}
.flashcard .prev {
  margin-right: 10px;
}
